.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
    gap: 60px;

}
.navLinksAndButton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}
.navLinks{
    display: flex;
    gap: 20px;
}
.cardContainer{
    width: 60%;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.postInfo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    font-size: 14px;
}
.postInfoSpan{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: black;
}
.title{
    font-size: 28px;
    font-weight: 800;
}
.contentSummary{
    font-size: 18px;
    font-weight: 700;
    font-style: italic;
}
.highlights{
    display: flex;
    flex-direction: row;
    gap: 10px;
    

}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.viewsAndCommentsAndLikes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
}
.viewAndComment{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}
.fav{
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}