.container{
    width: 305px;
    height: 330px;
    background-color: var(--background);
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 8px;
}
.content{
    width: 76%;
    margin-left: 10%;
    margin-right: 10%;
    height: 68px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.reactions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 30px;
}
.thumbs{
    display: flex;
    gap: 10px;
}
.comment{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}